<br><br>
<div id="show_bg_profile">
  <div class="hero-text-position">
      <div class="card bg-light mb-3" style="width:30rem;"><br>
        <div class="card-body"><h2>Tell us more about you!</h2></div>
        <%= form_with(url: "/profile", method: "post", local: true) do %>
          <p><%= label_tag(:zip_code, "Please enter your name and zip code for your profile") %></p>
          <%= label_tag(:name, "Name:") %>
          <%= text_field_tag(:name) %><br>
          <%= label_tag(:zip_code, "Zip Code:") %>
          <%= number_field_tag(:zip_code) %><br>
          <%= submit_tag("Submit") %><br><br><br>
        <% end %>
    </div>
  </div>
</div>
