<center>
  <% if @error %>
    <h2>We are sorry, no details currently avaiable for this plant. Check back soon. </h2>
  <% else %>
    <div class="container-1">
      <div class="plant-cards">
        <div class="cards__item">
          <div class="card-1">
            <br><br><img class="card-img-top"<%= image_tag(@plant.image, height:'400', width: '300') %>
            <div class="card-body">
              <% if current_user.nil? %>
                <%= link_to 'Login With Google to Add to your Garden!', '/login' %>
              <% else %>
              	<%= form_tag user_plants_path() do %>
              		<%= hidden_field_tag :name, @plant.name %>
              		<%= hidden_field_tag :image, @plant.image %>
              		<%= hidden_field_tag :perennial, @plant.perennial %>
              		<%= hidden_field_tag :first_harvest, @plant.first_harvest %>
              		<%= hidden_field_tag :last_harvest, @plant.last_harvest %>
              		<%= hidden_field_tag :description, @plant.description %>
              		<%= hidden_field_tag :sun, @plant.sun %>
              		<%= hidden_field_tag :height, @plant.height %>
              		<%= hidden_field_tag :spread, @plant.spread %>
              		<%= hidden_field_tag :spacing, @plant.spacing %>
              		<%= submit_tag 'Add to MyGarden' %>
              	<% end %>
              <% end %>
            </div>
          </div>
          <div class="cards__item">
          <div class="card-2 bg-light mb-3">
            <div class="card-body plant_details">
              <h2>Name: <%=  @plant.name.capitalize %> </h2>
              <p>Perennial: <%=  @plant.perennial %> </p>
              <p>Time to First Harvest: <%=  @plant.first_harvest %></p>
              <p>Time to Last Harvest: <%=  @plant.last_harvest %></p>
              <p>Description: <%=  @plant.description %></p>
              <p>Amount of Sun: <%=  @plant.sun %></p>
              <p>Average Height: <%=  @plant.height %> cm </p>
              <p>Average Spread: <%=  @plant.spread %> cm </p>
              <p>How to Sow: <%=  @plant.sowing %> </p>
              <p>Average Spacing <%=  @plant.spacing %> </p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</center>
