
<nav class="navbar navbar-expand-lg" style="background-color: #8FBC8F;">
  <%= form_with(url: "/search", method: "get", local: true) do %>
    <%= text_field_tag 'search', nil, placeholder: 'Search plants...' %>
    <%= submit_tag "Search", class: "btn btn-primary my-2 my-sm-0" %>
  <% end %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" <%=link_to "Home", '/'%></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to "About", about_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Browse All Plants", '/plants' %></a>
      </li>
      <% if current_user %>
        <li class="nav-item">
          <a class="nav-link" <%= link_to 'My Garden', '/user/mygardens'%></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" <%= link_to 'My Profile', "/profile/#{current_user.id}" %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" <%= link_to 'Sign Out', '/logout', method: :delete %></a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" <%=link_to 'Sign In', '/login', class: "px2"%></a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
