<section class='plant_info'>
  <%= will_paginate @plants  %>
  <%= @plants.map do |plant| %>
    <div class= 'name'> <%= link_to plant.name.capitalize, search_details_path(plant.name) %> </div>
    <% if plant.image.nil? %>
    <div class= 'image'>
      <%= image_tag('https://www.aisd.net/burgin-elementary/wp-content/files/sites/54/2018/08/No-image-available.jpg', height:'100', width: '150') %>
    </div>
    <% else %>
    <div class= 'image'>
     <%= image_tag(plant.image, height:'100', width: '150') %>
   </div>
    <% end %>
    <div class= 'description'> <%= plant.description %></div>
  <% end %>
  <%= will_paginate @plants  %>
</section>
